@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
}
html {
	overflow-x: hidden;
}

a {
	color: white;
}
a:hover {
	color: #f3c623;
	transition: all 0.2s linear;
}

.form {
	position: absolute;
	bottom: 0px;
}

.header {
	background: url("../img/aside.png.png");
	background-position-x: right;
    background-position-y: top;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(0, 0, 0);
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.logo {
	background: url("../img/xbg_1.jpg.pagespeed.ic.Wd2z2Of-5s.webp");
	display: inline-block;
    text-align: left;
    color: #000000;
    overflow: hidden;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.logo h1 {
	font-family: "Abril Fatface", cursive;
	font-size: 40px;
}

ion-icon {
	font-size: 34px;
}

.bg {
	background: url("../img/hand.jpg");
	background-size: cover;
	background-position: center;
}