@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}
html {
	overflow-x: hidden;
}

a {
	color: white;
}

.form {
	position: absolute;
	bottom: 0px;
}

.header {
	background: url("../img/aside.png.png");
	background-position-x: right;
    background-position-y: top;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(0, 0, 0);
	
}

.img1 {
	background: url("../img/xwork-1.jpg.pagespeed.ic.DN73E2NMNK.jpg");
	background-size: cover;
	background-position: center;
	background-position: center;
}

.img2 {
	background: url("../img/xwork-2.jpg.pagespeed.ic.ZVGqdB_NXb.jpg");
	background-size: cover;
	background-position: center;
	background-position: center;
}

.img3 {
	background: url("../img/xwork-3.jpg.pagespeed.ic.67_xGPF5eE.jpg");
	background-size: cover;
	background-position: center;
	background-position: center;
}

.img4 {
	background: url("../img/xwork-4.jpg.pagespeed.ic.nLYPVpSaNq.jpg");
	background-size: cover;
	background-position: center;
	background-position: center;
}

.img5 {
	background: url("../img/xwork-5.jpg.pagespeed.ic.S8xaDr4C-e.jpg");
	background-size: cover;
	background-position: center;
	background-position: center;
}

.img6 {
	background: url("../img/xwork-6.jpg.pagespeed.ic.W-8zNRiIti.jpg");
	background-size: cover;
	background-position: center;
	background-position: center;
}

.img7 {
	background: url("../img/xwork-7.jpg.pagespeed.ic.xPdj9jNDDX.jpg");
	background-size: cover;
	background-position: center;
	background-position: center;
}

.img8 {
	background: url("../img/xwork-8.jpg.pagespeed.ic.dx38aDnh0V.jpg");
	background-size: cover;
	background-position: center;
	background-position: center;
}

.img9 {
	background: url("../img/xwork-9.jpg.pagespeed.ic.eESFyk1RPL.jpg");
	background-size: cover;
	background-position: center;
	background-position: center;
}

.text1 {
	display: none;
}

.image:hover .text1 {
	display: block;
	transition: all 5s ease-in-out, all 5s ease-in-out;
}