@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.music {
	visibility: visible;
	opacity: 0;
	position: absolute;
	width: 0;
	height: 0;
}

.wrap {
	background-image: url("../img/home-bg.jpg");
	height: 526.4vh;
	width: 100vw;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}



header {
	height: 8.3vh;
	width: 60vw;
	margin: auto;
}
.logo {
	float: left;
	padding-top: 4.13vh;
	box-sizing: border-box;
}
.logo img {
	height: 3.5vh;
}
.button {
	float: right;
	padding-top: 4.644vh;
	font-size: 1.5625vw;
	box-sizing: border-box;
	cursor: pointer;
}
.button:hover {
	color: #f0dc55;
	transition: all 0.1s linear;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 95%;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 2.0833333333333335vw;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: 'Montserrat', sans-serif;

}

.sidenav a:hover{
  color: #f0dc55;
  font-size: 2.1vw;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 1.875vw;
  margin-left: 50px;
  color: #f0dc55;
}
.sidenav .closebtn:hover {
  color: white;
  transition: all 0.3s linear;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 1.875vw;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media screen and (max-width: 1440px), (max-height: 963px) {
	header {width: 80%}
	.logo {height: 3.5vh}
}



.section1 {
	text-align: center;
	height: 85.7vh;
	position: relative;
	width: 100vw;
	
}
.section1 img {
	padding: 15.5vh 7.8125vw 1.1vh;
	margin: auto;
	width: 31.25vw;
}
.section1 h1 {
	color: white;
	padding-bottom: 16.50vh;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.2em;
    letter-spacing: 6px;
	font-size: 1.5625vw;
	font-weight: 500;
}
.searchbar {
	position: relative;
	bottom: 8.3vh;
	padding: 1.1vh 1.5vw;
	font-size: 0.8vw;
	border: none;
	box-sizing: border-box;
}

input[type=text] {
  width: 10vw;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 30vw;
}

.section1 i {
	color: #f0dc55;
	font-size: 2.1vw;
	width: 100%;
}
.section1 i:hover {
	color: white;
	transition: all 0.2s linear;
}



.section2 {
	height: 82.5vh;
	position: relative;
	top: 7.2vh;
	width: 100vw;
}
.about {
	color: white;
	width: 30%;
	position: relative;
	left: 25%;
	top: 7.2vh;
	font-family: "Montserrat", Sans-serif;
    font-size: 3.125vw;
    font-weight: 800;
    line-height: 1.2em;
}
.column {
	position: relative;
	width: 40%;
	float: right;
	right: 10%;
	top: 7.2vh;
	font-family: "Montserrat", Sans-serif;
    font-size: 0.73vw;
    font-weight: 300;
    line-height: 2.15em;
}
.select {
	color: #f0dc55;
	position: relative;
	right: 20%;
	line-height: 2.15em;
	width: 80%;
	padding-top: 20px;
	padding-bottom: 20px;
}
.paragraph1 {
	color: white;
	width: 60%;
}
.paragraph2 {
	color: white;
	width: 60%;
}
.button1 {
	border: none;
	padding: 2.1vh 2.6vw;
	border-radius: 100px;
	background-color: #f0dc55;
	color: #1b2b37;
	position: relative;
	top: 5.2vh;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Montserrat", Sans-serif;
    font-size: 0.73vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.428em;
    letter-spacing: 2.8px;
}
.button1:hover {
	background-color: #1b2b37;
	color: #f0dc55;
	transition: all 0.3s linear;
}



.section3 {
	position: relative;
	top: 7.2vh;
	text-align: center;
	height: 82.5vh;
	width: 100vw;
}
.section3 h1 {
	font-family: "Montserrat", Sans-serif;
    font-size: 3.125vw;
    font-weight: 800;
    line-height: 1.2em;
	color: white;
	padding: 60px;
}
.owl-carousel {
	max-width: 62.5vw;
	margin: auto;
}
.banner1 {
	background-image: url("../img/journez-tour-1.jpg");
	background-size: cover;
	background-position: center;
	height: 46.4vh;
	max-width: 18.2vw;
	margin: auto;
}
.banner2 {
	background-image: url("../img/journez-tour-2.jpg");
	background-size: cover;
	background-position: center;
	height: 46.4vh;
	max-width: 18.2vw;
	margin: auto;
}
.banner3 {
	background-image: url("../img/journez-tour-3.jpg");
	background-size: cover;
	background-position: center;
	height: 46.4vh;
	max-width: 18.2vw;
	margin: auto;
}
.banner:hover {
	transition: all 0.3s linear;
	cursor: pointer;
	transform: scale(1.1);
}
.bannertext {
	position: relative;
	top: 70%;
}
.bannertext h3 {
	color: white;
	font-family: "Montserrat", Sans-serif;
    font-size: 1.25vw;
    font-weight: 700;
    line-height: 1.4em;
}
.bannertext .fa-star {
	color: #f0dc55;
	padding-bottom: 1.5vh;
}
.button2 {
	border: none;
	padding: 2vh 2.6vw;
	border-radius: 100px;
	background-color: #f0dc55;
	color: #1b2b37;
	position: relative;
	top: 5.2vh;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Montserrat", Sans-serif;
    font-size: 0.73vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.428em;
    letter-spacing: 2.8px;
}
.button2:hover {
	transition: all 0.3s linear;
	color: #f0dc55;
	background-color: #1b2b37;
}



.section4 {
	position: relative;
	top: 7.2vh;
	height: 72.3vh;
	width: 100vw;
}
.offer {
	color: white;
	float: left;
	position: relative;
	margin-left: 25%;
	margin-top: 80px;
	width: 30vw;
	font-family: "Montserrat", Sans-serif;
    font-size: 3.125vw;
    font-weight: 800;
    line-height: 1.2em;
}
.column2 {
	float: right;
	position: relative;
	top: 30%;
	right: 6%;
	width: 40vw;
}
.paragraph3 h3 {
	color: #f0dc55;
	padding-bottom: 20px;
	font-family: "Montserrat", Sans-serif;
    font-size: 1.25vw;
    font-weight: 800;
}
.paragraph3 p {
	color: white;
	padding-bottom: 40px;
	width: 50%;
	font-family: "Montserrat", Sans-serif;
    font-size: 0.73vw;
    font-weight: 300;
    line-height: 2.15em;
}


.section5 {
	height: 40vh;
	width: 100vw;
	position: relative;
}
.counter {
	position: relative;
	top: 12.4vh;
	width: 60vw;
	margin: auto;
	display: grid;
	grid-template-columns: auto auto auto auto;
	height: 36vh;
	z-index: 10;
	text-align: center;
}
.colbackground1 {
	background-color: #1b2b37;
	color: #f0dc55;
	height: 250px;
	width: 250px;
	border-radius: 200px;
	opacity: 85%;
}
.colbackground1 p {
	color: white;
}
.colbackground2 {
	background-color: #f0dc55;
	color: #1b2b37;
	height: 250px;
	width: 250px;
	border-radius: 1000px;
	opacity: 85%;
}
.counter-number {
	padding-top: 8.2vh;
	font-family: "Montserrat", Sans-serif;
    font-size: 1.875vw;
    font-weight: 800;
    line-height: 1.2em;
}
.counter-title {
	padding-top: 1vh;
	font-family: "Montserrat", Sans-serif;
    font-size: 0.73vw;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.8px;
}
@media screen and (min-width: 1440px), (max-height: 963px) {
	.colbackground1 {width: 13vw; height: 25.8vh}
	.colbackground2 {width: 13vw; height: 25.8vh}
}



.section6 {
	top: 12.4vh;
	position: relative;
	height: 62vh;
	width: 100vw;
}
.takealook {
	width: 50%;
	margin: auto;
}
.clients {
	font-family: "Montserrat", Sans-serif;
    font-size: 3.125vw;
    font-weight: 800;
    line-height: 1.2em;
	float: left;
	width: 70%;
	color: #f0dc55;
}
.comment {
	width: 50%;
	float: right;
	font-family: "Montserrat", Sans-serif;
    font-size: 0.73vw;
    font-weight: 400;
    line-height: 2.15em;
	color: #ffffff;
}
.customer {
	width: 60%;
	float: right;
	position: relative;
	left: 4.6875vw;
	top: 3.1vh;
	font-family: "Montserrat", Sans-serif;
    font-size: 1.25vw;
    font-weight: 800;
}
.customer img {
	border-radius: 100px; 
	float: left;
	height: 67px;
	width: 67px;
}
.customer h3 {
	margin-top: 20px;
	padding-left: 90px;
	color: #ffffff;
}



.section7 {
	position: relative;
	text-align: center;
	height: 41vh;
	width: 100vw;
}
.phone {
	color: #f0dc55;
	font-family: "Montserrat", Sans-serif;
    font-size: 3.125vw;
    font-weight: 800;
    line-height: 1.2em;
	padding: 10px;
}
.speak {
	color: white;
	font-family: "Montserrat", Sans-serif;
    font-size: 3.125vw;
    font-weight: 800;
    line-height: 1.2em;
	padding: 10px;
	width: 60vw;
	margin: auto;
}



.section8 {
	position: relative;
	width: 100vw;
}
.toptext {
	color: white;
	position: relative;
	left: 25%;
	width: 50%;
	font-family: "Montserrat", Sans-serif;
    font-size: 3.125vw;
    font-weight: 800;
    line-height: 1.2em;
	padding-bottom: 60px;
}
.grid {
	display: grid;
	grid-template-columns: auto auto;
	height: 25.8vh;
	width: 50%;
	margin: auto;
	color: white;
}
.icon {
	float: left;
	color: #f0dc55;
	font-size: 1.5625vw;
}
.text h3 {
	margin-left: 80px;
	font-family: "Montserrat", Sans-serif;
    font-size: 0.73vw;
    font-weight: 700;
    line-height: 1em;
}
.text p {
	margin-left: 80px;
	font-family: "Montserrat", Sans-serif;
    font-size: 0.73vw;
    font-weight: 300;
    line-height: 2.15em;
}
.mailtext {
	width: 70%
}
.mail {
	margin-left: 30px;
}
.phonenumber1 {
	float: left;
	color: #f0dc55;
}
.phonenumber2 {
	color: #f0dc55;
	float: right;
	padding-right: 50px;
}
.number {
	font-family: "Montserrat", Sans-serif;
    font-size: 0.73vw;
    font-weight: 300;
    line-height: 2.15em;
}
.number:hover {
	transition: all 0.3s linear;
	color: white;
}
.social {
	color: white;
	padding-left: 110px;
	padding-top: 30px;
}
.social i {
	padding-right: 20px;
	font-size: 1.5625vw
}



#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #f0dc55; /* Set a background color */
  color: #1b2b37; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #1b2b37; /* Add a dark-grey background on hover */
  transition: all 0.2s linear;
  color: #f0dc55;
}



/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #1b2b37;
  color: #f0dc55;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 20px;
  right: 100px;
  width: 280px;
  border-radius: 100px
}.open-button:hover {
	background-color: #f0dc55;
	color: #1b2b37;
	transition: all 0.3s linear;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 100px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px 0px 15px 0px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #1b2b37;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}





.numbers{
	padding:40px 0;
}

.numbers .flex{
	flex-wrap:wrap;
	justify-content: space-between;
}

.numbers .number-item{
	width:45%;
	padding:20px 0;
	text-align:center;
	font-size:1.4em;
}



.w3-display-left {
	position: absolute;
	z-index: 100;
	padding: 10px;
	top: 40%;
	left: 45%;
	border: none;
	background-color: #f0dc55;
	cursor: pointer;
}
.w3-display-left:hover {
	background-color: #1b2b37;
	color: #f0dc55;
	transition: all 0.3s linear;
}
.w3-display-right {
	position: absolute;
	z-index: 100;
	padding: 10px;
	top: 40%;
	right: 20%;
	border: none;
	background-color: #f0dc55;
	cursor: pointer;
}
.w3-display-right:hover {
	background-color: #1b2b37;
	color: #f0dc55;
	transition: all 0.3s linear;
}