@charset "utf-8";
/* CSS Document */

* {
	margin: 0; padding: 0
}

.header {
	height: 9.375em; background-color: #E5E4CC; position: relative; width: 100%
}
.logo {
	position: absolute; left: 5%
}
.logo img {
	height: 9.375em; padding-left: 30px
}
.line {
	top: 45%; position: absolute; left: 20%
}
.linetext li {
	display: inline; padding-left: 5.625em; font-size: 1.25em; font-family: 'Noto Sans JP', sans-serif;
}
.fas {
	font-size: 1.5625em; padding-right: 20%
}
.iconbar {
	position: absolute; width: 25%; top: 43%; left: 75%; text-align: right
}
.iconline li {
	display: inline; padding-right: 5%
}
.section1 {
	background-image: url("./img/sarah-dorweiler-x2Tmfd1-SgA-unsplash.jpg"); height: 62.5em; background-position: center; background-size: cover; position: relative
}
.textbox {
	position: absolute; top: 40%; right: 10%; text-align: right; width: 40%
}
.textbox h1 {
	background-color: #889E81; padding: 5%
}
.textbox h3 {
	background-color: #E5E4CC; padding: 5%
}
.textbox1 {
	padding-bottom: 5%
}
.section2 {
	text-align: center; background-color: #BAC7A7; position: relative; height: 31.25em
}
.yourname1 {
	padding: 0.625em; border: none
}
.email1 {
	padding: 0.625em; border: none
}
.phone1 {
	padding: 0.625em; border: none
}
.button1 {
	background-color: #698474; color: aliceblue; padding: 0.625em;
	border: none
}
.textbox3 {
	padding-top: 10%
}
.textbox3 h2 {
	padding-bottom: 1.875em
}
.form1 {
	padding-top: 3.125em
}
.section3 {
	text-align: center; position: relative; height: 37.5em
}
.field1 {
	width: 40%; float: left; padding-left: 7%
}
.field2 {
	width: 40%; float: right; padding-right: 7%
}
.text1 {
	padding: 5%
}
.text2 {
	padding-bottom: 2%
}
.text3 {
	padding-bottom: 5%
}
.texttop {
	padding: 5%; width: 20%; padding-left: 40%
}
.texttop h1 {
	background-color: #698474; padding: 0.5em; text-transform: uppercase
}
.line1 {
	padding-top: 5%; text-align: center
}
.line2 {
	padding-bottom: 5%; padding-top: 5%; text-align: center
}
.profile {
	position: relative; padding-top: 30%
}
.button2 {
	border: none; padding: 0.625em 1.25em; background-color: #698474; color: aliceblue
}
.section4 {
	position: relative; height: 56.25em
}
.picture img {
	height: 31.25em; position: absolute; right: 15%; top: 30%; width: 45%
}
.textprofile {
	position: absolute; top: 50%; width: 40%; left: 15%; text-align: left
}
.textprofile1 h1 {
	background-color: #E5E4CC; width: 80%; padding-left: 1.25em; padding-top: 0.625em; padding-bottom: 0.625em
}
.textprofile1 {
	padding-bottom: 5%
}
.textprofile2 {
	padding-bottom: 5%; width: 80%
}
.textprofile3 {
	padding-bottom: 5%; width: 80%
}
.textprofile4 {
	padding-left: 5%; width: 80%
}
.button3 {
	text-align: center; padding-top: 9.375em
}
.button33 {
	border: none; padding: 1.25em 1.875em; background-color: #889E81
}
.section5 {
	background-color: #698474; position: relative; padding-top: 4%; padding-bottom: 4%; padding-left: 5%
}
.section6 {
	background-image: url("./img/pawel-czerwinski-lWBZ01XRRoI-unsplash.jpg"); height: 31.25em; background-size: cover; background-position: center; position: relative;
	padding-top: 10%
}
.imageprofile img {
	height: 25em; position: absolute; left: 10%
}
.lasttext {
	position: absolute; width: 40%; right: 10%; background-color: #698474
}
.box {
	padding-top: 5%; padding-left: 5%; padding-right: 10%
}
.button6 {
	padding-top: 5%; padding-left: 5%; padding-right: 5%; padding-bottom: 5%
}
.button5 {
	padding: 0.625em; background-color: #E5E4CC; border: none
}
h1 {
	font-family: 'Noto Sans JP', sans-serif;
}
h2 {
	font-family: 'Open Sans', sans-serif;
}
h3 {
	font-family: 'Poppins', sans-serif;
}
h4 {
	font-family: 'Lato', sans-serif;
}
h5 {
	font-family: 'Lato', sans-serif;
}
.lasttext4 h4 {
	font-family: 'Raleway', sans-serif;
}